[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
